@import "button.styl"
@import "preloader.styl"

body
p
  margin: 0
  overflow: hidden

.container
  margin: 0 auto
  display: flex
  height 100vh
  button {
    border: none;
    cursor: pointer;
    outline: none;
  }

.navigation
  position fixed
  background: transparent
  color: #ffffff
  height: 100vh
  width: 300px
  display: flex
  flex-direction column
  padding-right: 10px
  &:before
    content ''
    display: inline-block
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    filter blur(4px)
    z-index -1
  &.active
    transform: translateX(0);
    background: rgba(#000, 0.8)
    transition all .25s ease-in-out
  &.notActive
     transform: translateX(-260px);
     transition all .25s ease-in-out
     li
      pointer-events none
  button
    align-self flex-end
    background: none
  ul
    padding-left: 30px
    li
      font-size: 25px
      padding: 15px
      cursor pointer
      position: relative
      &.active
        &:after
          transform scale(1)
      &:first-of-type
        margin-top: 30px
      &:hover
        &:after
          transform scale(1)
      &:after
        content ''
        height: 1px
        width: 80%
        position: absolute
        left: 10px
        bottom: 0
        transform scale(0)
        transition  transform .4s ease-in-out
        background: #ffffff
        transform-origin left




ul
  margin: 0
  padding: 0
  list-style none

.weather_current
  width: 64%
  background: #000
  color: #ffffff
  display: flex
  flex-direction column
  justify-content space-between
  padding-right: 50px
  background-image: url(../images/24924-1920x1200.jpg)
  background-position: center center;
  background-size: cover
  .bottom_info
    display: flex
    justify-content space-between
    margin-bottom: 30px
    margin-left: 30px
    align-items flex-end
  .city_name
    align-self flex-end
    margin-top: 40px
    p
      &:first-of-type
        font-size: 48px
        text-transform capitalize
        margin-bottom: 15px
      &:last-of-type
        text-transform uppercase
        float: right
        font-size: 32px
  .temperature
    line-height: 0
    span
      font-size: 150px

  .date
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &_info
      font-size: 30px
    .time
      font-size: 50px



.weather_side_info
  width: 36%
  background: rgba(#000000, -0.2)
  color: #ffffff
  padding-top: 40px
  .tab
    display: flex
    justify-content center
    li
      margin-bottom: 30px
      display: inline-block
      padding-bottom: 15px
      font-size: 25px
      padding-left: 15px
      padding-right: 15px
      cursor pointer
      &.active
        border-bottom: 2px solid #fff
  .day_list
    li
      display: flex
      font-size: 20px
      padding: 20px
      margin-right: 20px
      margin-left: 20px
      border-bottom: 1px solid #fff
      padding-bottom: 10px
      align-items center
      .date
        background: rgba(0,0,0, .2)
        border-radius 20px
        padding: 5px 20px
      .temperature
        margin-left: auto
        font-size: 40px
      .day_name
        margin-left: 10px





























